<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" parallel="tests" thread-count="2">
  

  <test name="configtest" enabled="false">
  <classes>
    <class name="peddersen.testconfig.SuiteConfig" />
    <class name="peddersen.testconfig.facebook" />
    <class name="peddersen.testconfig.google" />
  </classes>

  </test>
  <test name="configtest" enabled="true">
  <classes>
    <class name="peddersen.Test_Eksempel" />
    <class name="peddersen.Test_Eksempel" />
  
  </classes>

  </test>
  
</suite>
