<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" parallel="tests" thread-count="2">
  

  <test name="configtest">
  <classes>
    <class name="peddersen.testconfig.SuiteConfig" />
    <class name="peddersen.testconfig.facebook" />
    <class name="peddersen.testconfig.google" />
  </classes>

  </test>
</suite>
